{% extends 'common/base.html' %}

{% block content %}
    <div class="content">
        <h3>YouTube Search</h3>
        <form action="">
            <input type="text" name="q" placeholder="YouTube에서 검색할 키워드를 입력해주세요.">
        </form>
    </div>
    <br>
    <div><h3>SEARCH RESULT</h3></div>
    <ul>
        {% for video in videos %}
            <strong>{{ forloop.counter }}</strong>
            <li><img src="{{ video.thumbnail.url }}" alt="">
                <a href="https://youtube.com/watch?v={{ video.video_id }}">링크</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}